*{
    padding: 0;
    margin: 0;
}
.dd{
    display: flex;
    width: 100%;
    height: 7rem;
    background-color: #1748AC;
   overflow: hidden;
<<<<<<< HEAD
        justify-content:space-around ;
=======
        justify-content:space-between ;
>>>>>>> 6aeebd03e26d2df2dce2f74d9895b555e23e392a
}
.l{
    line-height: 7rem;
    font-size: 3rem;
    color: white;
}
.z{
    line-height: 7rem;
    font-size: 2rem;
    color: white;
}
.r{
    line-height: 7rem;
    font-size: 1.5rem;
    color: white;
}
.zb{
    width: 94%;
    height: 20rem;
    background-color: #F3F3F3;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    overflow: hidden;
}
.nr1{
    display: flex;
    width: 90%;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 4rem;
    background-color: #F3F3F3;
    justify-content:space-between ;
    margin: 0 auto;margin-top: 1.5rem;
}
.nr1l img{
    margin-right:1rem ;
<<<<<<< HEAD
    width: 20px;
    height: 20px;
=======
>>>>>>> 6aeebd03e26d2df2dce2f74d9895b555e23e392a
}
.nr1r{
    font-size: 1.5rem;
    color: #F5BB83;
}
.nr2r{
    font-size: 1.5rem;
    color: black;
}
.nr1l p{
    margin-left: 5rem;
}
.nr3{
    width: 66%;
    height: 5.5rem;
    background-color: #F3F3F3;
    margin-top: 1.5rem;
    margin-left: 30%;

}
.nr3l{
    width: 30%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background-color: #F3F3F3;
    float: left;
    margin-top: .5rem;
    border-radius: .5rem;
    margin-left: 3%;
    font-size: 1.6rem;
    color: #1CB1DA;
    border: .1rem solid gainsboro;
    
}
.nr3r{
    width: 30%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background-color: #1CB1DA;
    float: left;
    margin-top: .5rem;
    border-radius: .5rem;
    margin-left: 3%;font-size: 1.6rem;
    color: white;
}
.zb1{
    width: 48%;
    height: 8rem;
    
     margin: 0 auto;margin-top: 20rem;
}
.zb1s{
    width: 100%;
    height:4rem;
    float: left;
    line-height: 4rem;
    text-align: center;
    color: gray;
    font-size: 1.6rem;
    
}
.zb1x{
    width: 100%;
    height:4rem;
    float: left;
    line-height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    border-radius: .5rem;
    
    border: .1rem solid gainsboro;
}
.db{
    width: 100%;
    height: 6.5rem;
    margin-top: 4rem;
    display: flex;
    background-color: #989898;
    justify-content:space-around

}
.dbl{
    font-size: 1.6rem;
    line-height: 6.5rem;
    color: white;
}
<<<<<<< HEAD
.dbl img{
    width: 4rem;
    height: 4rem;
}
=======
>>>>>>> 6aeebd03e26d2df2dce2f74d9895b555e23e392a
.dbz{
    font-size: 1.6rem;line-height: 6.5rem;
    color: white;
}
<<<<<<< HEAD
.dbz img{
    width: 4rem;
    height: 4rem;
}
=======
>>>>>>> 6aeebd03e26d2df2dce2f74d9895b555e23e392a
.dbr{
    font-size: 1.6rem;line-height: 6.5rem;
    color: white;
}
<<<<<<< HEAD
.dbr img{
    width:3rem;
    height: 3rem;
    margin-left: 2rem;
}
=======
>>>>>>> 6aeebd03e26d2df2dce2f74d9895b555e23e392a
.dbrk{
    width: 1rem;
    height: 1rem;
    border: .5rem solid white;
}
.y{
    width: 3rem;
    height: 3rem;
    float: right;
    margin-right: 3rem;
    background-color: #1CB1DA;
}
.y img{
    width: 3rem;
    height: 3rem;
}